.mainfotos {
  background-color: white;
  border-radius: 5px;
  grid-area: 2 / 2 / 6/ -1;
  border: 3px solid black;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  overflow: scroll;
  min-width: 1100px;
}

.foto {
  max-width: 28%;
  height: auto;
  margin: 5px;
}

/* medium scherm */
@media only screen and (max-width: 1200px) {
  .list-navigatie {
    justify-content: flex-start;
  }
  li {
    margin-left: 60px;
  }
}

/* mobiel scherm */
@media only screen and (max-width: 767px) {
  .containter {
    grid-template-rows: 60px 60px 330px 440px 60px;
    grid-template-columns: 560px;
    grid-template-areas:
      " n  "
      " m  "
      " p  "
      " w "
      " f ";
  }

  .main {
    border: none;
    background-color: #ffd7e4;
    border-radius: 15px;
    grid-area: m;
    font-size: x-large;
    padding-bottom: 15px;
  }

  .mainfotos {
    align-content: flex-start;
    border: none;
    border: 3px solid white;
    border-radius: 15px;
    background-color: #124f9aa7;
    grid-area: p;
    font-size: x-large;
    padding-bottom: 15px;
    min-width: 300px;
    display: flex;
    flex-direction: colomn;
  }

  .foto {
    max-width: 450px;
    height: auto;
    margin: 5px;
    border: 3px solid white;
  }
}
